.headline{
    background-color: #22b2da;
    color:#f0d43a;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area: hed;
}

h1{
    font-size: 36px;
}